ansible
awscli
pywinrm
dopy
pysphere
python-consul
f5-sdk
bigsuds
netaddr
boto
azure
cs
#docker-py
#docker-compose
apache-libcloud
shade
pyvmomi
datadog
zabbix-api
PyYAML<4.3,>=3.10
cfconfigurator>=0.2.4
bosh_inventory>=0.2.2

gitpython

hvac
ansible-modules-hashivault
openstacksdk
python-openstackclient
